<center>
<div id="main_ttt_div">

    <div id="setup_div">
	    <form id="setup_form" method="post" action="setup">
	
		    <h2>Player 1 Setup</h2>
		    <h4>Name</h4>
		    <input type="test" name="player_1_name" required><br>
		    <h4>Type</h4>
		    <input type="radio" name="player_1_type" value="1" required> Human
		    <input type="radio" name="player_1_type" value="2"> Sequential
		    <input type="radio" name="player_1_type" value="3"> Random
		    <input type="radio" name="player_1_type" value="4"> Unbeatable
		    <br><br>
		
			<hr>
			
		    <h2>Player 2 Setup</h2>
		    <h4>Name</h4>
		    <input type="text" name="player_2_name"required>
		    <h4>Type</h4>
		    <input type="radio" name="player_2_type" value="1" required> Human
		    <input type="radio" name="player_2_type" value="2"> Sequential
		    <input type="radio" name="player_2_type" value="3"> Random
		    <input type="radio" name="player_2_type" value="4"> Unbeatable
		    <br><br>
		    <input type="submit" value="Start">
		    <br><br>
	    </form>
    </div>

</div>
</center>
</div>
