<head>
  <link href="css/style.css" rel="stylesheet">
  <link href="css/ttt.css" rel="stylesheet">
</head>
<body>
<!-- Navigation Links -->
  <div id="top_navbar">
    <ul>
      <li><a href="/">Setup</a></li>
    </ul>
  </div>
<center>
  <!-- MAIN CONTAINER -->
  <div id="main_container">
    <!-- PAGE CONTENT -->
    <%=yield%>
  </div>
<center>

  <!-- FOOTER -->
  <footer>
  <a href="mined_minds.org">Mined Minds</a>
  </footer>

<script src="/js/app.js"></script>
<!-- <script src="/js/board.js"></script> -->
<!-- <script src="/js/game.js"></script> -->
<!-- <script src="/js/player.js"></script> -->
<!-- <script src="/js/ttt.js"></script> -->
</body>

</body>
