<link rel="stylesheet" href="css/style.css">
<center><h1 class='title'>Tic Tac Toe</h1>
	<!-- Used header and title class for CSS -->
<h2 class='title_3'>It is <%=active_player%>'s turn.  Please select a tile.</h2>
</center>
<form action='/human_move' method='post'>
<!-- This is where the user is prompted to make a choice, each input is a different index
position or square_size ....choice-->
<table id="table_size">
	<tr>
		<!-- Table row 1 -->
		<td><input class="square_size" type='submit' value='<%=board.ttt_board[0]%>' name='choice'></td>
		<td class="middle_columns"><input class="square_size" type='submit' value='<%=board.ttt_board[1]%>' name='choice'></td>
		<td><input class="square_size" type='submit' value='<%=board.ttt_board[2]%>' name='choice'></td>
	</tr>
	<tr>
		<!-- Table row 2 -->
		<td class="top_bottom"><input class="square_size" type='submit' value='<%=board.ttt_board[3]%>' name='choice'></td>
		<td class="middle_columns top_bottom"><input class="square_size" type='submit' value='<%=board.ttt_board[4]%>' name='choice'></td>
		<td class="top_bottom"><input class="square_size" type='submit' value='<%=board.ttt_board[5]%>' name='choice'></td>
	</tr>
	<tr>
		<!-- Table row 3 -->
		<td><input class="square_size" type='submit' value='<%=board.ttt_board[6]%>' name='choice'></td>
		<td class="middle_columns"><input class="square_size" type='submit' value='<%=board.ttt_board[7]%>' name='choice'></td>
		<td><input class="square_size" type='submit' value='<%=board.ttt_board[8]%>' name='choice'></td>
	</tr>
</table>
</form>
