<center>
<div id="main_ttt_div">


<div id="message_area">
    <h2><%= session[:game].ending_prompt_web_app() %></h2>
</div>

<table id="ttt_table">
	<h2>Board</h2>
	<tr>
		<!-- Table row 1 -->
		<td id="top_left"><%= session['game'].board.get_array[1][1] %></td>
		<td id="top_center"><%= session['game'].board.get_array[1][5] %></td>
		<td id="top_right"><%= session['game'].board.get_array[1][9] %></td>
	</tr>
	<tr>
		<!-- Table row 2 -->
		<td id="middle_left"><%= session['game'].board.get_array[5][1] %></td>
		<td id="middle_center"><%= session['game'].board.get_array[5][5] %></td>
		<td id="middle_right"><%= session['game'].board.get_array[5][9] %></td>
	</tr>
	<tr>
		<!-- Table row 3 -->
		<td id="bottom_left"><%= session['game'].board.get_array[9][1] %></td>
		<td id="bottom_center"><%= session['game'].board.get_array[9][5] %></td>
		<td id="bottom_right"><%= session['game'].board.get_array[9][9] %></td>
	</tr>
</table>

<hr>

<%= session[:winner_table] %>

</div>
</center>
</div>
