<center>
<div id="main_ttt_div">

    <div id="player_info_div">
    
        <div id="player1_div">
	        <h2>Player 1</h2>
	        <p id="player_1_name_div"><b>Name:</b> <%= session['game'].player_1.name %></p>
	        <p id="player_1_marker_div"><b>Marker:</b> <%= session['game'].player_1.marker %></p>
	        <p id="player_1_type_div"><b>Type:</b> <%= session['game'].player_1.class %></p>
        </div>

        <div id="player2_div">
	        <h2>Player 2</h2>
	        <p id="player_2_name_div"><b>Name:</b> <%= session['game'].player_2.name %></p>
	        <p id="player_2_marker_div"><b>Marker:</b> <%= session['game'].player_2.marker %></p>
	        <p id="player_2_type_div"><b>Type:</b> <%= session['game'].player_2.class %></p>
        </div>
        
    </div>

<div id="message_area">
    <h2>Message Area</h2>
	<p>Active player: <div id="active_player_display_div"><b><i><%= session['game'].active_player.name %></b></i></div></p>
	<hr>
	<form method="post" action="tic_tac_toe">
		<h3><i>Please select a position</i></h3>
		
		<% session[:game].get_open_choices.each do |choice| %>
			<input type="radio" name="choice" value="<%=choice%>" required> <%=choice%>
		<% end %>
		
		<input type="submit" value="submit">
	</form>
	
</div>

<table id="ttt_table">
	<h2>Board</h2>
	<tr>
		<!-- Table row 1 -->
		<td id="top_left"><%= session['game'].board.get_array[1][1] %></td>
		<td id="top_center"><%= session['game'].board.get_array[1][5] %></td>
		<td id="top_right"><%= session['game'].board.get_array[1][9] %></td>
	</tr>
	<tr>
		<!-- Table row 2 -->
		<td id="middle_left"><%= session['game'].board.get_array[5][1] %></td>
		<td id="middle_center"><%= session['game'].board.get_array[5][5] %></td>
		<td id="middle_right"><%= session['game'].board.get_array[5][9] %></td>
	</tr>
	<tr>
		<!-- Table row 3 -->
		<td id="bottom_left"><%= session['game'].board.get_array[9][1] %></td>
		<td id="bottom_center"><%= session['game'].board.get_array[9][5] %></td>
		<!-- Changed the line below the 9th cell referenced the 8th. -->
		<td id="bottom_right"><%= session['game'].board.get_array[9][9] %></td>
	</tr>
</table>


</div>
</center>
</div>
