  <link href="css/style2.css" rel="stylesheet">
<center>
<div id="main_ttt_div">

    <div id="player_info_div">
    
        <div id="player1_div">
	        <h2>Player 1</h2>
	        <p id="player_1_name_div"><b>Name:</b> <%= session['game'].player_1.name %></p>
	        <p id="player_1_marker_div"><b>Marker:</b> <%= session['game'].player_1.marker %></p>
	        <p id="player_1_type_div"><b>Type:</b> <%= session['game'].player_1.class %></p>
        </div>

        <div id="player2_div">
	        <h2>Player 2</h2>
	        <p id="player_2_name_div"><b>Name:</b> <%= session['game'].player_2.name %></p>
	        <p id="player_2_marker_div"><b>Marker:</b> <%= session['game'].player_2.marker %></p>
	        <p id="player_2_type_div"><b>Type:</b> <%= session['game'].player_2.class %></p>
        </div>
        
    </div>

<div id="message_area">
    <h2>Message Area</h2>
	<p>Active player: <div id="active_player_display_div"><b><i><%= session['game'].active_player.name %></b></i></div></p>
	<p>Current player: <div id="current_player_display_div"></div></p>
	<p>Winner: <div id="winner_display_div"></div></p>
	<p>Board Full: <div id="board_full_display_div"></div></p>
	<hr>
	
	<form id="results_form" method="get" action="results_unbeatable">
			<input type="hidden" name="player_1_name" value="<%= session['game'].player_1.name %>">
			<input type="hidden" name="player_2_name" value="<%= session['game'].player_2.name %>">
			<input type="hidden" name="winner_input" value="">
	</form>
	
</div>

<!-- ------------------------------------------------------------------ -->
<div id="main">
<div id="board">
<div class="tile" onclick="claim(this)"></div>
<div class="tile" onclick="claim(this)"></div>
<div class="tile" onclick="claim(this)"></div>
<div class="tile" onclick="claim(this)"></div>
<div class="tile" onclick="claim(this)"></div>
<div class="tile" onclick="claim(this)"></div>
<div class="tile" onclick="claim(this)"></div>
<div class="tile" onclick="claim(this)"></div>
<div class="tile" onclick="claim(this)"></div>
<!-- <div class="button" onclick="aiturn(state, 0, currentPlayer, true)">Computer</div> -->
<!-- <div class="button" onclick="reset()">Reset</div> -->
<div id="toggle" onclick="toggle()">Show Value</div>
</div>
</div>
<script src="/js/script.js"></script>
