html,body{
	padding:0;
	margin:0;
	//background:#111;
	text-transform:uppercase;
	color:#111;
	font-size:1.5vh;}


#main{margin:0;
	padding:0;
	padding-top:6vh;
	height:auto;
	width:100%;
}

#board{
	padding:0;
	margin:auto;
	width:33vh;
	height:33vh;
}

#toggle{
	margin:0.5vh;
	padding:0;
	height:5vh;
	width:32vh;
	line-height:5vh;
	vertical-align:middle;
	background:#fff;
	text-align:center;
	border-radius:5px;
	cursor:pointer;
	float:left;
}

.tile{padding:0;margin:0.5vh;
	height:10vh;
	width:10vh;
	line-height:10vh;
	vertical-align:middle;
	text-align:center;
	font-size:0;
	border-radius:5px;
	background:#fff;
	cursor:pointer;
	float:left;
}

.button{
	margin:0.5vh;
	padding:0;
	height:5vh;
	width:15.5vh;
	line-height:5vh;
	vertical-align:middle;
	background:#fff;
	text-align:center;
	border-radius:5px;
	cursor:pointer;
	float:left;
}
