#top_left { 
  border-right:  1px solid red; 
  border-bottom: 1px solid red;
}

#top_center { 
  border-right:  1px solid red; 
  border-bottom: 1px solid red;
}

#top_right { 
  border-bottom: 1px solid red;
}

#middle_left {
  border-right:  1px solid red;
  border-bottom: 1px solid red;
}

#middle_center {
  border-right:  1px solid red;
  border-bottom: 1px solid red;
}

#middle_right {
  border-bottom: 1px solid red;
}

#bottom_left {
  border-right:  1px solid red;
}

#bottom_center {
  border-right:  1px solid red;
}

#setup_form {
	border: 2px solid black;
}

#player1_div {
	float: left;
	//border: 2px solid black;
	padding: 1em;
	margin: 1em;
}

#player2_div {
	//float: left;
	//border: 2px solid black;
	padding: 1em;
	margin: 1em;
}

#player_info_div {
	
	margin: 1em;
	border: 4px solid black;
}

#message_area {
	
	border: 4px solid black;
}

#main_ttt_div {
	
}

#test_area {
	border: 4px solid black;
}



#ttt_table td {
	width: 150px;
	height: 150px;
	text-align: center;
	font-size: 100px;
}
