<h1>ISBN Validation</h1>



<h3> Please enter either a 10 digit or 13 digit ISBN </h3>
<form method="post" id="isbn_form" >
  <input name="isbn" type="text">
  <input type="submit" value="Submit">
</form>

<h2 id="response_area"><h2>


<h2>Upload CSV File</h2>
<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="csv_file">
  <input type="submit" value="Upload">
</form>


<script>
document.getElementById("isbn_form").addEventListener("submit", function(event){
	event.preventDefault();
	var isbn_form = document.getElementById("isbn_form");
	var formData = new FormData(isbn_form);
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
    	if (this.readyState == 4 && this.status == 200) {
			document.getElementById("response_area").innerHTML = this.responseText;
    	}
	};
	xhttp.open("POST", "validate_isbn", true);
	xhttp.send(new FormData(isbn_form));

	// ------------------------------------------------------------------------------- //


	var xhttp2 = new XMLHttpRequest();
	xhttp2.onreadystatechange = function() {
    	if (this.readyState == 4 && this.status == 200) {
			document.getElementById("toppings_container").innerHTML = this.responseText;
    	}
	};
	xhttp2.open("POST", "update_table", true);
	xhttp2.send(new FormData(isbn_form));
});
</script>