<head>
  <link href="css/style.css" rel="stylesheet">

</head>
<body>

	<div id="top_navbar">

	  <!-- Navigation Links -->
	  <ul>
	    <li><a href="/">Home</a></li>
	  </ul>

	  <!-- LOGO -->
	  <img id="logo" src="/images/mm_logo.jpg" alt="LOGO">
	</div>

	<!-- VARIABLES BOX -->
	<div id="toppings_container">
	<%= read_csv 'output.csv' %>

	</div>
	<!-- MAIN CONTAINER --> 
	<div id="main_container">

	  <!-- PAGE CONTENT -->
      <%=yield%>

    </div>

    <!-- FOOTER -->
    <footer>
	  <a href="mined_minds.org">Mined Minds</a>
    </footer>

<script src="/js/app.js"></script>
</body>


